[package]
name = "shellfirm"
description = "`shellfirm` will intercept any risky patterns (default or defined by you) and prompt you a small challenge for double verification, kinda like a captcha for your terminal."
version = "0.2.11"
edition = "2021"
authors = ["Elad-Kaplan <kaplan.elad@gmail.com>"]
license = "MIT"
readme = "../README.md"
repository = "https://github.com/kaplanelad/shellfirm"
homepage = "https://github.com/kaplanelad/shellfirm"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5", features = ["cargo"], optional = true }
dirs = "6.0"
anyhow = { workspace = true }
serde = { workspace = true }
serde_yaml = "0.8.21"
serde_derive = "1.0.131"
serde_regex = { workspace = true }
regex = "1.5"
rayon = "1.5.1"
rand = "0.8.4"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
console = "^0.15.0"
exitcode = "^1.1.2"
requestty = "0.6"
strum = { workspace = true, features = ["derive"] }
shellfirm_core = { path = "../shellfirm_core" }

[dev-dependencies]
insta = { version = "1.20.0", features = ["filters"] }
tree-fs = { version = "0.3.1" }
itertools = { version = "0.10.5" }


[build-dependencies]
anyhow = { workspace = true }

[features]
default = ["cli"]
# list optionals here:
cli = ["clap"]

[[bin]]
name = "shellfirm"
required-features = ["cli"]
