[package]
name = "shellfirm"
description = "`shellfirm` will intercept any risky patterns (default or defined by you) and prompt you a small challenge for double verification, kinda like a captcha for your terminal."
version = "0.2.2"
edition = "2021"
authors = ["Elad-Kaplan <kaplan.elad@gmail.com>"]
license = "MIT"
readme = "../README.md"
repository = "https://github.com/kaplanelad/shellfirm"
homepage = "https://github.com/kaplanelad/shellfirm"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3", features = ["cargo"], optional = true }
dirs = "4.0"
anyhow = "1.0.51"
serde = "1.0"
serde_yaml = "0.8.21"
serde_derive="1.0.131"
regex = "1.5"
rayon = "1.5.1"
rand = "0.8.4"
log="0.4.14"
env_logger="0.9.0"
console = "^0.15.0"
exitcode = "^1.1.2"
lazy_static = "1.4.0"

[dev-dependencies]
insta = { version = "1", features = ["backtrace"] }
tempdir = "0.3"

[build-dependencies]
anyhow = "1.0.51"
vergen = "7"


[features]
default = ["cli"]
# list optionals here:
cli = ["clap"]

[[bin]]
name = "shellfirm"
required-features = ["cli"]